@{
    ViewData["Title"] = "String concatenation";
}

<div class="text-center">
    Application Name: <span class="mark">@ViewBag.AppName</span>
    Submitted By: <span class="mark">@ViewBag.SubmittedBy</span>
</div>

