@{
    ViewData["Title"] = "Page 2";
}

<div class="text-center">
    <h1 class="display-4 heading-color">Hello am Page2</h1>
</div>

<div>
  <table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>

  </tr>
 </thead>
 <tbody>
  <tr>
     <th scope="row">1</th>
    <td>Samuel</td>
    <td>Mark</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Jack</td>
  </tr>
<tr>
    <th scope="row">3</th>
    <td>Harris</td>
    <td>Jenny</td>
  </tr>
</tbody>
</table>
</div>
<div>
    <input type="button" value = "Click me" class = "btn btn-info pull-right" onClick="alert('Test scuccessfull')"/>
</div>

